In [28]:
import cirpy
import pandas as pd

In [30]:
df = pd.read_excel(r"D:\OneDrive\Documentos\LabMol\IC-Skin\DADOS\DADOS CURAGEM LLNA.xlsx")

In [31]:
df

,ID,ID_type,Substance,CAS No,Canonical SMILES,LLNA_EC3,"LLNA (EPA,GHS)",Source,Max Dose Tested
0,NaN,NaN,NaN,362-06-7,NaN,20,NaN,SSDB,NaN
1,NaN,NaN,NaN,167998-73-4,NaN,8.3,NaN,SSDB,NaN
2,NaN,NaN,NaN,68855-99-2,NaN,8.4,NaN,SSDB,NaN
3,NaN,NaN,NaN,92457-01-7,NaN,5.9,NaN,SSDB,NaN
4,NaN,NaN,NaN,176665-04-6,NaN,2.8,NaN,SSDB,NaN
...,...,...,...,...,...,...,...,...,...
1909,NaN,NaN,NaN,122-78-1,NaN,4.7,NaN,CosEU,NaN
1910,NaN,NaN,NaN,122-78-1,NaN,3,NaN,CosEU,25
1911,NaN,NaN,NaN,122-78-1,NaN,8.8,NaN,CosEU,100
1912,NaN,NaN,NaN,17369-59-4,NaN,3.7,NaN,CosEU,25
1913,NaN,NaN,NaN,17369-59-4,NaN,3.1,NaN,CosEU,NaN

In [32]:
def get_smiles(cas):
    try:
        return cirpy.resolve(cas, 'smiles')
    except Exception as e:
        return None

In [33]:
df['Canonical SMILES'] = df.apply(lambda row: row['Canonical SMILES'] if pd.notna(row['Canonical SMILES']) else get_smiles(row['CAS No']), axis=1)

In [43]:
df

,ID,ID_type,Substance,CAS No,Canonical SMILES,LLNA_EC3,"LLNA (EPA,GHS)",Source,Max Dose Tested,IUPAC
0,NaN,NaN,NaN,362-06-7,None,20,NaN,SSDB,NaN,None
1,NaN,NaN,NaN,167998-73-4,None,8.3,NaN,SSDB,NaN,None
2,NaN,NaN,NaN,68855-99-2,None,8.4,NaN,SSDB,NaN,None
3,NaN,NaN,NaN,92457-01-7,None,5.9,NaN,SSDB,NaN,None
4,NaN,NaN,NaN,176665-04-6,None,2.8,NaN,SSDB,NaN,None
...,...,...,...,...,...,...,...,...,...,...
1909,NaN,NaN,NaN,122-78-1,O=CCc1ccccc1,4.7,NaN,CosEU,NaN,O=CCc1ccccc1
1910,NaN,NaN,NaN,122-78-1,O=CCc1ccccc1,3,NaN,CosEU,25,O=CCc1ccccc1
1911,NaN,NaN,NaN,122-78-1,O=CCc1ccccc1,8.8,NaN,CosEU,100,O=CCc1ccccc1
1912,NaN,NaN,NaN,17369-59-4,CC/C=C/1OC(=O)c2ccccc12,3.7,NaN,CosEU,25,CC/C=C/1OC(=O)c2ccccc12
1913,NaN,NaN,NaN,17369-59-4,CC/C=C/1OC(=O)c2ccccc12,3.1,NaN,CosEU,NaN,CC/C=C/1OC(=O)c2ccccc12

In [45]:
df.to_excel(r"D:\OneDrive\Documentos\LabMol\IC-Skin\DADOS\DADOS CURAGEM LLNA apos smiles e IUPAC.xlsx", index=False)

In [38]:
celulas_vazias = df["Canonical SMILES"].isna().sum()

In [44]:
celulas_preenchidas = pd.notna(df['IUPAC']).sum()
celulas_preenchidas

1516

In [39]:
celulas_vazias

398